<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>QtLingo</Name>
    <Version>1.0.0</Version>
    <Title>QtLingo by Light Wizzard</Title>
    <Publisher>Light-Wizzard</Publisher>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>QtLingo</StartMenuDir>
    <TargetDir>@HomeDir@/QtLingo</TargetDir>
</Installer>
